<section class="bg-[#0f022d] text-white px-8 pt-16 pb-12 text-md sm:text-lg md:px-40">
  <div class="mt-8 text-start text-sm text-gray-300">
    <p>Full Compañía de Seguros Patrimoniales S.A. Entidad autorizada por la Superintendencia de Seguros de la Nación. Registro Nº 1111</p>
    <p>Full Compañía de Seguros de Personas S.A. Entidad autorizada por la Superintendencia de Seguros de la Nación. Registro Nº 1111</p>
  </div>

  <!-- Línea divisoria -->
  <hr class="mt-10 border-gray-400" />

  <div class="flex mt-10 flex-col md:flex-row justify-between">
    <!-- Navegación -->
    <div class="flex flex-col mb-10 md:mb-0">
      <ul class="flex flex-col gap-4">
        <li><a class="group relative inline-block pb-1" href="/seguros">Seguros<span class="absolute left-0 bottom-0 h-[2px] w-0 bg-white transition-all duration-300 group-hover:w-full"></span></a></li>
        <li><a class="group relative inline-block pb-1" href="/empresa">La empresa<span class="absolute left-0 bottom-0 h-[2px] w-0 bg-white transition-all duration-300 group-hover:w-full"></span></a></li>
        <li><a class="group relative inline-block pb-1" href="/contacto">Contacto<span class="absolute left-0 bottom-0 h-[2px] w-0 bg-white transition-all duration-300 group-hover:w-full"></span></a></li>
      </ul>
    </div>

    <!-- Oficinas -->
    <div class="flex flex-col mb-10 md:mb-0">
      <h3 class="text-lg font-bold pb-4">Oficinas</h3>
      <ul class="flex flex-col gap-3">
        <li class="flex items-center gap-2"><a class="group relative inline-block pb-1" href="mailto:info@fullseguros.com">info@fullseguros.com<span class="absolute left-0 bottom-0 h-[2px] w-0 bg-white transition-all duration-300 group-hover:w-full"></span></a></li>
        <li class="flex items-center gap-2"><a class="group relative inline-block pb-1" href="tel:+541153464411">+54 11 5346 4411<span class="absolute left-0 bottom-0 h-[2px] w-0 bg-white transition-all duration-300 group-hover:w-full"></span></a></li>
      </ul>
    </div>

    <!-- Redes Sociales -->
    <div class="flex flex-col">
      <h3 class="text-lg font-bold pb-4">Seguinos</h3>
      <ul class="flex flex-col gap-3">
        <li><a class="group relative inline-block pb-1" href="https://www.instagram.com/lograrseguros" target="_blank">Instagram<span class="absolute left-0 bottom-0 h-[2px] w-0 bg-white transition-all duration-300 group-hover:w-full"></span></a></li>
        <li><a class="group relative inline-block pb-1" href="https://linkedin.com/company/lograrseguros" target="_blank">LinkedIn<span class="absolute left-0 bottom-0 h-[2px] w-0 bg-white transition-all duration-300 group-hover:w-full"></span></a></li>
      </ul>
    </div>
  </div>
</section>

<section>
  <!-- Pie de página final -->
  <div class="w-full text-[13px] bg-white flex flex-col items-center text-center text-sm text-gray-800 py-3">
    <p>Todos los derechos reservados | Fullseguros 2024</p>
  </div>
</section>






