---
import Button from "./button.astro";

const link = "https://lograrseguros.com.ar/la-empresa";
const text = "La empresa";
const serviceDescription = 
  "<span class='text-gray-800'>Más allá de ofrecer una variedad de seguros, construimos una </span><span class='text-red-600 font-bold'>red sólida de confianza</span><span class='text-gray-800'>, protección y agilidad, con el fin de acompañar a nuestros clientes en su camino hacia un futuro asegurado.</span>";
---

<section class="w-full min-h-[50vh] flex flex-col justify-center items-start px-6 md:px-20 bg-gray-200 animate-fadeIn">
  
  <!-- Contenedor del Texto (Alineado a la izquierda) -->
  <div class="w-full">
    <p class="text-[25px] md:text-3xl lg:text-5xl xl:text-6xl leading-tight font-bold text-left text-gray-800" set:html={serviceDescription}></p>
  </div>

  <!-- Botón -->
  <div class="mt-8 md:mt-10">
    <a 
      href={link}
      class="flex items-center gap-3 text-white bg-[#1a3855] text-sm md:text-base px-6 py-3 rounded-full transition-all hover:bg-red-700 shadow-md"
    >
      <span>{text}</span>
      <svg class="w-5 h-5 md:w-6 md:h-6 fill-current" viewBox="0 0 256 512" xmlns="http://www.w3.org/2000/svg">
        <path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"/>
      </svg>
    </a>
  </div>

</section>












