---
interface Props {
  title: string;
}

const { title } = Astro.props;
import Nav from "../components/nav.tsx";
import Action from "../components/action.astro";
import Footer from "../components/footer.astro";
import { ClientRouter } from "astro:transitions";
import "../styles/tailwind.css";
---

<!doctype html>
<html lang="en" class="lenis">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Tu seguro 100% digital y accesible" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo-sur.png" />
    <meta name="robots" content="index, follow" />
    <meta name="title" content={title} />
  
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  
    <ClientRouter />
    <title>{title}</title>

    <style>
      html.lenis {
        height: auto;
      }
      .lenis.lenis-smooth {
        scroll-behavior: auto;
      }
      .lenis.lenis-smooth [data-lenis-prevent] {
        overscroll-behavior: contain;
      }
      .lenis.lenis-stopped {
        overflow: hidden;
      }
    </style>
  </head>  
  <body class="bg-gray-100 text-neutral-950">
    <Nav client:load />
    <slot />
    <Action />
    <Footer />
    <script src="../lib/lenis"></script>
  </body>
</html>
